.vendor {
    border: 5px solid #dedede;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.vendor__container--expanded {
    height: auto;
    overflow: auto;
}

.vendor__info {
    width: calc(70% - 5px);
    float: left;
}

.vendor__actions {
    width: calc(30% - 5px);
    display: inline-block;
    text-align: right;
}

.vendor__name {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.7em;
    margin: 0;
    padding: 5px;
}

.vendor__slogan {
    font-family: inherit;
    font-style: italic;
    font-size: 1.4em;
    margin: 0;
    padding: 5px;
}

.vendor__logo {
    width: 175px;
    display: block;
    margin-left: calc(100% - 175px);
}

.vendor__button {
    background: blue;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font: inherit;
    border: 1px solid navy;
    cursor: pointer;
}

.vendor__slots {
    max-height: 9999px;
    transition-timing-function: cubic-bezier(0.5, 0, 1, 0); 
    transition-delay: 0s;
    margin-top: 20px;
    overflow: auto;
}

.vendor__slots--hidden {
    max-height: 0;
    transition: max-height 0.75s cubic-bezier(0, 1, 0, 1) -.1s;
    overflow: hidden;
}

.vendor__map {
    width: 375px;
    height: 390px;
    overflow: hidden;
    float: left;
}

.vendor__features {
    width: calc(100% - 385px);
    margin-left: 10px;
    float: left;
}
.vendor__featuresTitle {
    text-decoration: underline;
    font-weight: bold;
}

.vendor__featuresList {
    padding-left: 20px;
    text-indent: 2px;
    list-style: none;
    list-style-position: outside;
}

.vendor__featuresList li:before {
    content: '✔';
    margin-left: -1em;
    margin-right: .35em;
    color: green;
}

.vendor__slots__container {
    width: 100%;
    clear: both;
    overflow: auto;
}

.slot__container {
    border: 1px solid navy;
    width: calc(46% - 10px);
    float: left;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.slot__container:hover:not(.slot__container--selected) {
    background-color: deepskyblue;
}

.slot__container--selected {
    background: blue;
    color: white;
}

.slot__feature::before {
    content: '✈';
    margin-right: .35em;
}

.slot__price {
    float: right;
    font-weight: bold;
}

@media(max-width: 800px) {
    .vendor__info {
        width: 100%;
        float: none;
    }
    .vendor__actions {
        width: 100;
    }
    .vendor__logo {
        width: 100%;
        display: block;
        margin-left: 0;
    }
    
    .vendor__map {
        width: 100%;
        float: none;
    }
    .vendor__features {
        width: 100%;
        margin: 0;
        float: none;
    }
    .slot__container {
        width: 90%;
        margin: .7em auto;
        float: none;
        overflow: auto;
    }
    .slot__feature {
        margin: 5px auto;
    }
}
